{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ playlist_form|crispy }}
        <button class="text-center btn btn-block btn-success"type="submit"> Done </button>
    </form>
    <div class="mt-5">
        <h3 class="text-center">Seasons</h3>
        <div class="row">
            {% for multi_media in multi_medias %}
            <div class="col-lg-4 col-md-6 my-3 px-1">
                <div class="card ">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ multi_media.name }}</h4>
                        <p class="card-text">No.of episodes: {{ multi_media.media_set.all|length }}</p>
                        <p class="card-text">Description:<br>{{ multi_media.description }}</p>
                        <p class="card-text">
                            <small class="text-muted">Uploaded on : {{ multi_media.date_created }}</small>
                            <small class="text-muted">Uploaded by : {{ multi_media.playlist.uploader.username|title }}</small>
                        </p>
                        <p class="card-footer text-center my-auto">
                            <a class="btn btn-info" href="{% url 'edit_multi_media' multi_media.uuid %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_multi_media' multi_media.uuid %}">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="btn btn-info" href="{% url 'upload_multi_media' playlist.uuid  %}">Add Season</a>
    </div>
</div>
{% endblock content %}