{% extends 'base.html' %}
{% block content %}
{% if message %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% load crispy_forms_tags %}
<div class="container">
    <form class="" method="post">
        {% if forgot_password_form.errors %}
        {{ login_form.error }}
        {% endif %}
        {% csrf_token %}
        {{ forgot_password_form|crispy }}
        <div class="">
            <button type="submit" class="btn btn-info" name="button">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}