{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
{% include 'home/search_form.html' %}
<div class="container-fluid mt-5">
    {% if animes %}
    <div class="row">
        <div class="col-9">
            <h2 class="text-center">Anime</h2>
            <div class="row">
                {% for anime in animes %}
                <div class="col-lg-4 col-md-6 my-3 px-1">
                    <a href="{{ anime.get_absolute_url }}" class="nav-link text-dark">
                        <div class="card">
                            {% if anime.cover %}
                        <img src="{{ anime.cover.url }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ anime.name|title }}, <small>
                               Quality {{ anime.quality }}
                            </small></h5>
                            <p class="card-text">{{ anime.genre }}</p>
                            <p class="card-text">{{ anime.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ anime.date_created }}, Uploaded By: {{ anime.uploader.username|title }}</small></p>
                        </div>
                    </div>
                </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if movies %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for _ in search_value|add:'hello' %}
                <div class="col-lg-3 col-md-4 my-3 px-1">
                    <div class="card ">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ search_value }}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if web_series %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for _ in search_value|add:'hello' %}
                <div class="col-lg-3 col-md-4 my-3 px-1">
                    <div class="card ">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ search_value }}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for _ in search_value|add:'hello' %}
                <div class="col-lg-3 col-md-4 my-3 px-1">
                    <div class="card ">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ search_value }}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3 pl-4 pr-0 text-center">
           {% include 'home/side_nav.html' %}
           {% block genre %}
               {% for genre in genres %} 
                  <a class="nav-link" href="{% url 'search' genre %}">{{ genre }}</a>
               {% endfor %}
            {% endblock genre %}
        </div>
    </div>
</div>
{% endblock content %}